{% extends "master.html.twig" %}
{% block title %}Internal error{% endblock %}

{% block content %}   
    <img src='/images/ninja.png'>
    <p>Internal error occured, we're very sorry. Our team of coding ninjas has been notified and is already working on the problem</p>
    <p><a href='/'>Click</a> to continue.</p>
    
{% endblock %}